@font-face {
  font-family: DIN;
  src: url('fonts/DIN-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700 bold;
}

@font-face {
  font-family: DIN;
  src: url('fonts/DIN-Black.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: DIN;
  src: url('fonts/DIN-Regular.otf') format('opentype');
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "PingFang SC", "Source Han Sans", "Microsoft Yahei Font", "微软雅黑", "Hiragino Sans GB", Arial,
  sans-serif;

  margin: 0;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

/* stylelint-disable-next-line no-descending-specificity */
a,
a:focus,
a:hover {
  cursor: pointer;
  color: #1f8dfb;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix {
  &::before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

html {
  font-size: 87.2727px;
}

